#header{
	background: #eaeaea;
}
#logo{
	padding-top: 20px;
	padding-bottom: 40px;
}
#navigation{
	background: #CAB846;
}
.my-navbar2 li {
	margin-right: 20px;
}
.my-navbar2 li a{
	color: #000 !important;
	font-weight: bold;
}
#thumb{
	margin-top: 20px;
	margin-bottom: 40px;
}
.thumb-title{
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 40px;
}
.thumb-img{
	margin-left: 30px;
	margin-right: 30px;
	border: none;
}
#footer{
	background: #CAB846;
}
.footer{
	padding-top: 20px;
	text-transform: uppercase;
	font-weight: bold;
}
.footer-left .top {margin: 0;}
.footer-left .bottom {font-size: 10px;}
.footer-center {margin-top: 30px;}
.footer-center .bottom{
	margin-top: 20px;
	font-size: 10px;
}
.footer-right{text-align: right;}
.footer-right .top {margin: 0;}
.footer-right .bottom input{border-radius: 10px;}